[project]
	description = Realtime application framework (client)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/srinathvidapu
[access "refs/for/refs/*"]
	read = group user/srinathvidapu
	push = group user/srinathvidapu
	label-Code-Review = -2..+2 group user/srinathvidapu
	label-Verified = -1..+1 group user/srinathvidapu
	rebase = group user/srinathvidapu
	removeReviewer = group user/srinathvidapu
	submit = group user/srinathvidapu
[access "refs/heads/*"]
	read = group user/srinathvidapu
	create = group user/srinathvidapu
	push = +force group user/srinathvidapu
	pushMerge = group user/srinathvidapu
[access "refs/tags/*"]
	push = +force group user/srinathvidapu
	pushTag = group user/srinathvidapu
	pushSignedTag = group user/srinathvidapu
